<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>calculate</title>
  </head>
  <body>
    <h1>Quadratic Equation</h1>
    <form id="form1" action="/calculate/quadratic" method="post">
      <a>a:</a><input type="number" name="a">
      <a>b:<a><input type="number" name="b">
      <a>c:</a><input type="number" name="c">
      <button>Calculate</button>
    </form>
    <div id='result1'>{{data['results1']}}</div>
    <hr>
    <h1>Linear Equation with two varriable </h1>
    <form id="form2" action="/calculate/linear" method="post">
      <a>a1:</a><input type="number" name="a1">
      <a>b1:<a><input type="number" name="b1">
      <a>c1:</a><input type="number" name="c1">
      <a>a2:</a><input type="number" name="a2">
      <a>b2:<a><input type="number" name="b2">
      <a>c2:</a><input type="number" name="c2">
      <button>Calculate</button>
    </form>
    <div id="results2">{{data['results2']}}</div>
    <hr>
    <h1>Integration</h1>
  <form id="form3" action="/calculate/integrate" method="post">
    <a>a:</a><input type="number" name="a2">
    <a>b:<a><input type="number" name="b2">
    <a>c:</a><input type="number" name="c2">
    <a>d:</a><input type="number" name="d2">
    <a>e:</a><input type="number" name="e2">
    <button>Integrate</button>
</form>
<div id="results3">{{data['results3']}}</div>
<hr>
  <h1>Differenciation</h1>
  <form id="form4" action="/calculate/differenciate" method="post">
    <a>a:</a><input type="number" name="a3">
    <a>b:<a><input type="number" name="b3">
    <a>c:</a><input type="number" name="c3">
    <a>d:</a><input type="number" name="d3">
    <a>e:</a><input type="number" name="e3">
    <button>Differenciate</button>
  </form>
    <div id="results4">{{data['results4']}}</div>
    <hr>
  <h1>Evaluate</h1>
    <form id="form5" action="/calculate/evaluate" method="post">
      <a>a:</a><input type="number" name="a4">
      <a>b:<a><input type="number" name="b4">
      <a>c:</a><input type="number" name="c4">
      <a>d:</a><input type="number" name="d4">
      <a>e:</a><input type="number" name="e4">
      <a>x:</a><input type="number" name="x">
      <button>Evaluate</button>
    </form>
      <div id="results5">{{data['results5']}}</div>
</body>
</html>
