<!Doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
	<link rel="stylesheet" href="style.css">
  </head>
  <header>
    <img src="ABCD.jpg">
  <ul>
    <li><a href="home">HOME</a></li>
    <li><a href="sign">SIGN IN</a></li>
    <li><a href="#">ABOUT</a></li>
    <li><a href="more">MORE</a></li>
    <li><a href="search">SEARCH</a></li>
  </ul>
  </header>
  <body>
      <h1>Welcome to  ABCDit</h1>
  </body>
</html>
