<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>weather</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script>
    window.addEventListener('load', ()=>{
      let long;
      let lat;
      let temp=document.querySelector("#temp")
      let tempf=document.querySelector("#tempf")
      let feels=document.querySelector("#feels")
      let location=document.querySelector("h1")
      let timezone=document.querySelector("#timezone")
      let image=document.getElementById("image")
      let feels2=document.querySelector("#feels2")
      let temp2=document.querySelector("#temp2")
      let image2=document.getElementById("image2")
      let chance=document.querySelector("#chance")
      const loc_api='https://ipinfo.io/geo?token=256c88609e90c4'
      fetch(loc_api)
       .then(response=> {
         return response.json();
       })
       .then(data=>{
        const loc = data.loc.split(',');
        console.log(loc);
        const lat= loc[0];
        const long= loc[1];
        const api=`https://api.weatherapi.com/v1/forecast.json?key=df0058859b884b02af754250201105&q=${lat},${long}`
        fetch(api)
          .then(response=>{
            return response.json();

          })
          .then(data=>{
            const {temp_c,feelslike_c,is_day}=data.current;
            const{text,code}=data.current.condition;
            const{name,region,country,tz_id}=data.location;
            const{avgtemp_c,daily_chance_of_rain}=data.forecast.forecastday[0].day;
            const text2=data.forecast.forecastday[0].day.condition.text;
            const code2=data.forecast.forecastday[0].day.condition.code;
            temp.textContent=`Tempereture: ${temp_c}°C`;
            tempf.textContent=`Feels like: ${feelslike_c}°C`;
            timezone.innerHTML=tz_id;
            feels.textContent=`Current: ${text}`;
            location.innerHTML=`${name},${region}`;
            temp2.textContent=`Tempereture: ${avgtemp_c}°C`;
            chance.textContent=`Chances of rain: ${daily_chance_of_rain} %`;
            feels2.textContent=`Forecast: ${text2}`;
            if (is_day){
              image.innerHTML=`<img src="static/images/icon/day/${code}.png"/>`;
              image2.innerHTML=`<img src="static/images/icon/day/${code2}.png"/>`;
            }
            else{
              image.innerHTML=`<img src="static/images/icon/night/${code}.png"/>`;
              image2.innerHTML=`<img src="static/images/icon/night/${code2}.png"/>`;
            }
          });
        });
    });
    </script>
    <link rel="stylesheet" href={{url_for('static',filename='styles/weather.css')}}>
    </head>
  <body>
    <h1>Please wait while we load Weather page for you </h1>
    <div id="feels">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Loading...
    </div>
    <div id="image">
    </div>
    <div id="temp">
    </div>
    <div id="tempf">
    </div>
    <div id="feels2">
    </div>
    <div id="image2">
    </div>
    <div id="temp2">
    </div>
    <div id="chance">
    </div>
    <div id="timezone">
    </div>
    <br>
    <div>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Back</button>
  </div>
    <br>
    <div id="weather">
      <a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0"></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
